<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.postit.postit_">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".admin_browse_notes"
            android:parentActivityName=".PopUpWindowAdmin"></activity>
        <activity android:name=".StudentActivity" />
        <activity android:name=".requestadmin" />
        <activity android:name=".chapters" />
        <activity android:name=".BrowseNotes" />
        <activity android:name=".favoritelist" />
        <activity android:name=".MainActivity" />
        <activity android:name=".mynotes" />
        <activity android:name=".Visitors_activity" />
        <activity android:name=".splashActivity" />
        <activity android:name=".Activity_home_bage" />
        <activity android:name=".forgetPasswordActivity" />
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".mainAdmin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminActivity" />
        <activity
            android:name=".Pop"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".popUpWindow"
            android:theme="@style/AppTheme.pop" />
        <activity
            android:name=".PopUpWindowAdmin"
            android:theme="@style/AppTheme.pop2" />
        <activity
            android:name=".creatnotepopup"
            android:theme="@style/AppTheme.pop4" />
        <activity
            android:name=".popupwindowchapters"
            android:theme="@style/AppTheme.pop5" />
        <activity
            android:name=".popupwindowvisitors"
            android:theme="@style/AppTheme.pop6" />
    </application>

</manifest>