<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.postit.postit_">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="POST-it"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity android:name=".Student_Visitor.usersChats"></activity>
        <activity android:name=".Student_Visitor.chatActivity" />
        <activity android:name=".Student_Visitor.Profile" />
        <activity android:name=".profile" />
        <activity android:name=".navheader" />
        <activity android:name=".Student_Visitor.ExplorerNote" />
        <activity android:name=".Student_Visitor.previewnote" />
        <activity
            android:name=".Admin.admin_browse_notes"
            android:parentActivityName=".Admin.PopUpWindowAdmin" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Student_Visitor.mynotes" />
        <activity android:name=".Student_Visitor.favoritelist" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".Admin.requestadmin" />
        <activity android:name=".Admin.mainAdmin" />
        <activity android:name=".Student_Visitor.forgetPasswordActivity" />
        <activity android:name=".Student_Visitor.CreateAccountActivity" />
        <activity android:name=".Student_Visitor.StudentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Admin.AdminActivity" />
        <activity
            android:name=".Student_Visitor.Pop"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Student_Visitor.popUpWindow"
            android:theme="@style/AppTheme.pop" />
        <activity
            android:name=".Admin.PopUpWindowAdmin"
            android:theme="@style/AppTheme.pop2" />
        <activity
            android:name=".Student_Visitor.creatnotepopup"
            android:theme="@style/AppTheme.pop4" />
        <activity
            android:name=".Student_Visitor.popupwindowchapters"
            android:theme="@style/AppTheme.pop5" />
    </application>

</manifest>